<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% @travel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field" style="border: 0px solid black;position:relative;padding:10px;left:120px;width: 870px;">
    
    <%= f.text_field :location , class: "form-control",style: "width: 500px;",placeHolder:"Dove sei stato di recente?"%>
  </div>



  <div class="field" style="position: relative;top:-64px;left:640px;padding:10px;">
    
    <%= f.select(:date, options_for_select(@datesForTravels), {}, { :class => 'form-control' , :style => 'width: 200px;'}) %>
  


  </div>

  <div class="field" style="position: relative;top:-128px;left:870px;padding:10px;">
    <%= f.submit "Submit",class: "btn btn-primary" %>
  </div>

 

<% end %>

