<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<!-- APP STARTS HERE -->
<div ng-app="myApplication" ng-controller="myController">


	<select ng-model="selected" ng-change="event()" class="form-control">
		<option ng-repeat="object in years">
			{{object.year}}
		</option>
	</select>

  <br>


	<p>Top Travels <b>{{ selected }}</b></p>
	




	<table class="table">
		<th>Location</th>
		<th>Numero Viaggi</th>
		<th>Percentuale</th>
  		<tr ng-repeat="x in travels">
    		<td>{{ x.location }}</td>
   			<td>{{ x.count }}</td>
   			<td>{{ (100 * x.count)/tot | number:1}}%</td>


  		</tr>
	</table>


  <!--  CANVAS DIV -->
  <div id="canvasDiv" style="border: 0px solid black;padding:10px;min-heigh:600px;" width="800"></div>



</div>
<!-- END OF APP -->


<script>

	/* ############# DrawCanvas.js Written by Carmelo Riolo ############ */



	/* createCanvas(): Utilizzata per creare il singolo canvas rappresentativo di un dato elemento da legare al canvasDiv */

	function createCanvas(str,count){

    	var temp_canvas = document.createElement("canvas");
    	temp_canvas.setAttribute('id', str);
    	temp_canvas.setAttribute('width', 100);
    	temp_canvas.setAttribute('height', 500);
    	temp_canvas.setAttribute('style', "margin-left:25px;margin-right:25px;border: 0px solid black;padding-top: 10px;");


    	// -15 fattore di correzione per allineare il rect col label
			temp_canvas.getContext('2d').fillText(str,(temp_canvas.width-str.length)/2-15,10);
    	//temp_canvas.getContext('2d').fillText(count,(temp_canvas.width-str.length)/2-15,20);
    	return temp_canvas;

	}


	/* drawCanvas() : Utilizzata per disegnare il grafico in maniera animata sulla base dei dati passati alla funzione*/

	function drawCanvas(canvas,x,y,from_h,to_h){

    	//To_H deve essere negativo
    	var rect_width = 50;
    	var ctx = canvas.getContext('2d');

			//iterative function
    	function animate(){

      //ctx.clearRect(0,0,550,400);
			ctx.fillStyle = "rgb(153, 214, 255)";
      ctx.fillRect (x, y, rect_width, from_h);
			from_h -= 1;
			if(from_h>to_h)
            	setTimeout(animate,5);
			}


    	animate();

	} /* END drawCanvas() */


	/* ############# ANGULARJS CODE STARTS HERE ############ */

	var app = angular.module('myApplication', []);
	app.controller("myController", function($scope, $http,$window) {

	/* getDates() : Scarica anni da API .json */
	function getDates(){
		$http.get("/dates").
				success(function(data, status, headers, config) {
					$scope.years=data;
					$scope.selected = $scope.years[0].year;
					showAnalytics();

		}).error();
	}
	/* END getDates() */


	/* ######### DOWNLOAD DATA FROM travels.json */


	function showAnalytics(){
    	$http.get("/travels?year="+$scope.selected).
    	success(function(data, status, headers, config) {

    		var NORM_FACTOR = 500;

    		var canvasDiv = document.getElementById('canvasDiv');

    		//Rappresentazione ASSI
    		canvasDiv.setAttribute('style',"border-left:3px solid black;border-bottom: 3px solid black;");

    		canvasDiv.innerHTML="";

					//numero elementi .json:
					$scope.totOverall = data.length;

					//Scarica i primi 7 viaggi del .json
      		$scope.travels = data.slice(0,7);

					//NUM: Quanti elementi rappresentare nel grafico.
      		//		Il json ritorna i valori da quello col maggior numero
      		//		di istanze a quello minore
					var NUM = $scope.travels.length;

      		//Calcono numero viaggi totali. Utilizzato per il calcolo della percentuale
      		$scope.tot=0;
					for(var i=0;i< NUM;i++){
      			$scope.tot = $scope.tot + $scope.travels[i].count;
      		}

      		for(var i=0;i<NUM;i++){

      			var canvas = createCanvas($scope.travels[i].location,$scope.travels[i].count);
        		canvasDiv.appendChild(canvas);

						if($scope.tot!=1)
							var h = -( NORM_FACTOR * $scope.travels[i].count )/ $scope.tot;
						else
							// Nel caso di unico elemento abbassa il fattore di normalizzazione di %px, così da non coprire il label
							var h = -(NORM_FACTOR-12);

        		drawCanvas(canvas,25,NORM_FACTOR,0,h);
        	}

		}).error(function(data, status, headers, config) {

      	// log error

      		switch(status) {
        		case 500: {
          			$scope.message = "Something went wrong!";
          			break; }

          	}

      		console.log(data, status);


		});

	}; /* ### END showAnalytics() */

	/*     ############## main() ################### */


	/* ######### DOWNLOAD DATA FROM dates.json AND PRINT SELECT TAG WITH SEVERAL YEARS ######### */
	getDates();

	/* Alla selezione di un altro anno esegue il print del nuovo grafico con i nuovi valori */
	$scope.event = showAnalytics;



});




</script>
