<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Carica Foto Profilo"%><br>
    <%= f.file_field :avatar %>
  </div>  
  <div class="field">
    
    <%= f.text_field :username ,class: "form-control",placeHolder: "Username"%>
  </div>
  <div class="field">
    <%= f.text_field :nome ,class: "form-control",placeHolder: "Nome"%>
  </div>
  <div class="field">
    <%= f.text_field :cognome,class: "form-control",placeHolder: "Cognome" %>
  </div>
  <div class="field">
    <%= f.label :Sesso %><br>
    <%= f.select :gender, options_for_select(@sexs)%>
  </div>
  <div class="field">
    <%= f.label :data_nascita %><br>
    <%= f.date_select :data_nascita,:start_year => Date.current.year, :end_year => (Date.current.year-100) %>

  </div>
  <div class="field">
    
    <%= f.text_field :luogo_nascita,class: "form-control",placeHolder: "Dove sei nato?" %>
  </div>
  <div class="field">
    
    <%= f.text_field :citta_attuale,class: "form-control",placeHolder: "Dove vivi?" %>
  </div>
  <div class="field">
    
    <%= f.text_area :biografia ,class: "form-control",placeHolder: "About me.."%>
  </div>
  <div class="actions">
    <%= f.submit "Crea Profilo",class: "btn btn-primary" %>
  </div>
<% end %>

<hr> 

<i>oppure carica Informazioni da Facebook </i><br>


