<h1>Editing Profile</h1>

<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cognome %><br>
    <%= f.text_field :cognome %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, options_for_select(@sexs) %>
  </div>
  <div class="field">
    <%= f.label :data_nascita %><br>
    <%= f.date_select :data_nascita,:start_year => Date.current.year, :end_year => (Date.current.year-100) %>
  </div>
  <div class="field">
    <%= f.label :luogo_nascita %><br>
    <%= f.text_field :luogo_nascita %>
  </div>
  <div class="field">
    <%= f.label :citta_attuale %><br>
    <%= f.text_field :citta_attuale %>
  </div>
  <div class="field">
    <%= f.label :biografia %><br>
    <%= f.text_area :biografia %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', :controller=>:users,:action=>:user_profile,:id=>current_user.id %>
