<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Gender</th>
      <th>Data nascita</th>
      <th>Luogo nascita</th>
      <th>Citta attuale</th>
      <th>Biografia</th>
      <th>Motto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.username %></td>
        <td><%= profile.nome %></td>
        <td><%= profile.cognome %></td>
        <td><%= profile.gender %></td>
        <td><%= profile.data_nascita %></td>
        <td><%= profile.luogo_nascita %></td>
        <td><%= profile.citta_attuale %></td>
        <td><%= profile.biografia %></td>
        <td><%= profile.motto %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
