<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @profile.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @profile.cognome %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Data nascita:</strong>
  <%= @profile.data_nascita %>
</p>

<p>
  <strong>Luogo nascita:</strong>
  <%= @profile.luogo_nascita %>
</p>

<p>
  <strong>Citta attuale:</strong>
  <%= @profile.citta_attuale %>
</p>

<p>
  <strong>Biografia:</strong>
  <%= @profile.biografia %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @profile.motto %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
