<body style="
    background: url(<%= image_path("background.jpg") %>) no-repeat    center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    "
>

<div class="form-container">
    <div class="form-devise-wrapper">
        <h2>Registrati</h2>

       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeHolder: "Email Here" %>
        </div>

        <div class="field">
            <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off",class: "form-control", placeHolder: "Password Here" %>
        </div>

        <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control",placeHolder: "Repeat Password" %>
        </div>


        <br>


        <div class="actions">
            <%= f.submit "Sign up",class: "btn btn-primary" %>
        </div>
        <% end %>

        <%= link_to "Log in",homepage_path()%>

    </div>

</div>

</body>
