<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Assegno ad ogni commento l'id del post a cui appartiene -->
  <%= f.hidden_field :post_id, value: params[:post_id].to_i %>

  <div class="field">
    <%= f.text_area :body , class: "form-control"%>
  </div>
    <div class="actions">
    <%= f.submit "Create Comment",class: "btn btn-primary" %>
  </div>
<% end %>

