

<% @comments.order("created_at DESC").limit(20).each do |c| %>

	<%= rating_for c, "body" %>
	
	<p><i><b>

	<% if !(c.user.profile == nil) %>
		<%= link_to c.user.profile.username , user_profile_path(id: c.user.id,post_id: last_post_of(c.user.id))%>

	<% else %>
		<%= link_to c.user.email , user_profile_path(id: c.user.id,post_id: last_post_of(c.user.id))%>
	<% end %>	

	</i></b>says: </p>

	<p>	
		
		<%= c.body %>
		
	
		<br>
		<i>on <%= c.created_at %></i>
		<% if (c.user.id == current_user.id || params[:id].to_i==current_user.id) %>
			<%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true" style="position: relative; left:300px;"></span>'.html_safe, c, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>

	</p>




	<hr>

<% end %>