<% if(params[:q].present?) %>
	
	<% if !(@posts_results.empty?) %>

	<h3>
		<i>Stories from <b><%= params[:q] %></b></i>
	</h3>

	<table class="table">
		<thead>
			
			<th>Titolo</th>
			<th>Descrizione</th>
			<th>Autore</th>
		</thead>
		<% @posts_results.each do |p| %>
			<tr>

				<td><b><%=
					 link_to p.titolo,user_profile_path(id: p.user_id, post_id: p.id) 
				 %></b></td>
				<td><i><%=p.description %></i></td>
				<% if (p.user.profile!=nil) %>
					<td>di <%= 
						link_to p.user.profile.username,user_profile_path(id: p.user_id, post_id: last_post_of(p.user_id)) 
						%></td>
				<% else %>	
					<td>di <%= 
						link_to p.user.email,user_profile_path(id: p.user_id, post_id: last_post_of(p.user_id))
						 %></td>
				<% end %>
			</tr>	



		<% end %>
	</table>

	<%= will_paginate @posts_results %>

	<% else %>

		<center>
			<i>
			Nessun risultato utile
			</i>
		</center>

	<% end %>


<% elsif params[:q]=="" %>
	
	<script>
		window.location = "/";
	</script>

<% end %>


