<div class="media">
  <div class="media-left">
    
      
      <%= link_to image_tag(conversation.originator.profile.avatar.url, size: "64x64", class: "img-circle").html_safe , user_profile_path(id: conversation.originator.id,post_id: last_post_of(conversation.originator.id)) %>
    
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= conversation.originator.profile.username %> <br>
      <small><b>Subject: </b><%= conversation.subject %></small><br>
      <small><b>To: </b><%= conversation.participants[0].profile.username%></small><br>
      <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
    </h4>
    <!--<%= truncate conversation.messages.last.body, length: 145 %>-->
    <%= link_to "View", conversation_path(conversation)  %>
  </div>
</div>

