<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>

    

    <div >
      <% f.label :recipients %>
      <%= f.select(:recipient, User.where(id: params[:id]).collect {|p| [ p.email, p.id ] }, {}, { multiple: false , class: "form-control" })%>
    </div>
    <div >
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
    </div>
    <div >
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    </div>
 
    <%= f.submit "Send Message", class: "btn btn-success" %>
 
<% end %>
