<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media">
      <div class="media-left">
        <!-- user avators can go here -->
        <%= link_to image_tag(message.sender.profile.avatar.url, size: "64x64", class: "img-circle").html_safe , user_profile_path(id: message.sender.id,post_id: last_post_of(message.sender.id)) %>      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= message.sender.profile.username %> <br>
          <small><b>Subject: </b><%= message.subject %></small><br>
          <small><b>Date: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
        </h4>
        <%= message.body %>
      </div>
    </div>
<% end %>
