<% if (params[:id].present?) %>



<p align="center">
  I viaggi di 
  <b>
    <%= @user.profile.nome + " " + @user.profile.cognome %>
  </b>   
  (
  <%= link_to @user.profile.username,user_profile_path(id: @user.id,post_id: last_post_of(@user.id))%>
  )
  <br><br>
  <% if (@user.profile.avatar.exists?) %>   
    <%= link_to image_tag(@user.profile.avatar.url, size: "150x150", class: "img-circle").html_safe , user_profile_path(id: @user.id,post_id: last_post_of(@user.id)) %>
  <% else %>
      <%= link_to image_tag(image_path("avatar_notfound_light.png"), size: "60x60", class: "img-circle").html_safe , user_profile_path(id: @user.id,post_id: last_post_of(@user.id)) %>
  <% end %>     
   
  </p>

<br>

<% if params[:id].to_i == current_user.id %>

  <div style="border:0px solid black;height: 150px; overflow: no;">
  
      <%= render partial: "travels/form" %>
      <br>
      <%= render partial: "next_travels/form" %>
  
  </div>
  
<% end %>      



<div id="map-container">
  <div id="map"></div>
</div>


<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>

<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>


<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){

    <% if@hasht!=nil %>
      t_markers = handler.addMarkers(<%=raw @hasht.to_json %>);
      handler.bounds.extendWith(t_markers);
    <%end%>
    
    <% if@hashnt!=nil %>
      nt_markers = handler.addMarkers(<%=raw @hashnt.to_json %>);
      handler.bounds.extendWith(nt_markers);
    <% end %>  
    
    
    handler.getMap().setZoom(2);
  }
);</script>

<% else %>




<% end %>


