<!-- Informazioni Viaggi -->   


         <!-- Travels -->

         <% if !@travels.empty? %>
            <hr>
            <i><b>My travels..</b></i><br>  
            <% @travels.each do |travel| %>
               <ul>
                  <%=travel.location+", "+travel.date.to_s%>
                  <% if params[:id].to_i==current_user.id %>
                     <%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, travel, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>  
               </ul>
            <% end %>

         <% end %>
         
         <br>

         <% if params[:id].to_i==current_user.id %>
            <%= link_to "Aggiorna informazioni sui tuoi viaggi .." , :controller=>:travels,:action=>:new%>
         <% end %>

         <!-- Next Travels -->
                
         <% if !@next_travels.empty? %>
            <hr>
            <i><b>My next travels..</b></i><br>
            <% @next_travels.each do |ntravel| %>
               <ul>
                  <%=ntravel.location+", "+ntravel.date.to_s%>
                  <% if params[:id].to_i==current_user.id %>
                     <%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, ntravel, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>  
               </ul>
            <% end %>

         <% end %>
         
         <br>

         <% if params[:id].to_i==current_user.id %>
            <%= link_to "Aggiorna informazioni sui tuoi viaggi futuri.." , :controller=>:next_travels,:action=>:new%>
         <% end %>