<div class="profile-posts-wrapper">


   <!-- POST FORM  -->

   

   

   <% if((!params[:post_id].present? && params[:id].present? && params[:id].to_i==current_user.id)) %>  

      <div class="form-container-profile" id="form-container" >

   <% else %> 
      
      <div class="form-container-profile" id="form-container" hidden>

   <% end %>

         <%= render "posts/form"%>

      </div>




   <!-- SHOW POST -->
   <% if((params[:post_id].present? && params[:id].present?)) %>
      <div class="profile-body-wrapper">
      
         <% @post_for_body.each do |post| %>
            <h3><%= post.titolo %></h3>
            <% if (current_user.id == post.user_id) %>
               <%= link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>'.html_safe, edit_post_path(post) %>
               <%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>   
            <!-- RATING -->
            <%= rating_for post, "body" %>
            <br>
            <i>
               <%= post.description %><br>
               <%= post.created_at %>
            </i><hr>
            
            <%= post.body %>


            <hr>

            

            <!-- Form inserimento commenti -->
            <%= render "comments/form"%>
            <!-- Lista commenti -->
            <%= render "comments/list"%>

         <% end %>
      </div>

   

      

   <% end %>


   

  

   





</div>


