<div class="profile-info-wrapper">
   <% utente = @user %>
      <% if (utente.profile != nil) %>

         <!-- Se l'utente ha un profilo stampa informazioni profilo -->

         <!-- Info Profilo -->
         
         <b><%= utente.profile.nome+" "+utente.profile.cognome %></b><br>
         <i>a.k.a</i> <b><%= utente.profile.username%> </b>


         <!-- Settings Profilo se l'utente loggato è il proprietario del profilo -->
         

         <% if (params[:id].to_i==current_user.id && utente.profile!=nil)%>
                  
            <%= link_to '<span class="glyphicon glyphicon-wrench"></span> '.html_safe, edit_profile_path(utente.profile)%>
                  
         <% end %>

         <!-- Se l'utente ha un avatar stampalo altrimenti stampa l'immagine di default  -->
                  
         <% if (utente.profile.avatar.exists?) %>
         
            <%= image_tag(utente.profile.avatar.url, size: "160x100", class: "img-thumbnail") %>
         
         <% else %>


         
            <%= image_tag(image_path("avatar_notfound_light.png"), size: "160x100", class: "img-thumbnail") %>
               
         <% end %>  

         


         <br><br>

         <!-- Info Profilo  -->
         
         <% if !(utente.profile.luogo_nascita.empty?) %>
            Nato a: <%= utente.profile.luogo_nascita %><br>
         <% end %>
               
         <% if (utente.profile.data_nascita!=nil) %>
            Data Nascita: <%= utente.profile.data_nascita%><br>
         <% end %>

         <% if !(utente.profile.citta_attuale.empty?) %>
            Vive a: <%= utente.profile.citta_attuale%> <br>
         <% end %> 

         <% if (@post_count>0) %>
            Ha scritto <b><%= @post_count %></b> posts<br>
         <% end %>

         Registrato il: <br>
         <%=utente.created_at%>

         <br><br>

         <!-- START MENU -->

         <ol class="breadcrumb">

            <% if (@travels!=nil || @next_travels!=nil) %>
               <li>
                  <%= link_to '<span class="glyphicon glyphicon-map-marker"></span>'.html_safe , maps_path(id: utente.id), data: { no_turbolink: true } %>
               </li>
            <% end %>
                     
            <li>
               <%= link_to "<span class='glyphicon glyphicon-camera'></span>".html_safe, photos_path(id: params[:id].to_i) %>
                  
            <% if current_user.id == params[:id].to_i %>

               <li><span class="glyphicon glyphicon-pencil" id="pencil"></span></li>
                
            <% else %>
                  
               <li>
                  <%= link_to '<span class="glyphicon glyphicon-envelope" ></span> '.html_safe, new_conversation_path(id:params[:id]) %>
               </li>

            <% end %>

         </ol>

         <!-- END MENU -->
                
         <hr>

         <!-- Info Profilo -->

         <i><b>About me..</b></i> <br>
         <%= utente.profile.biografia%>
                



         <!-- Informazioni Viaggi 
          render partial: "infoTravels" 
         -->
                
         <hr>
                

      <% else %>

         <!-- Se l'utente non ha un profilo: -->

         <% if (params[:id].to_i==current_user.id) %>
            <p><%= link_to "Aggiorna Informazioni Profilo" , :controller => :profiles, :action => :new %></p>
         <% end %>
         
         <b><%= utente.email %></b><br>
         <% if (@post_count>0) %>
            Ha scritto <b><%= @post_count %></b> posts<br>
         <% end %>
         Registrato il: <i><%=utente.created_at%>
         <br>

              
      <% end %>

              

                     	

      <br>
   </div>


<!--
   Script che mi permette, durante la visualizzazione di un post, di visualizzare
   il form per inserire un nuovo post
-->

<script>
   $(document).ready(function(){

      $("#pencil").click(function(){
         $(".profile-body-wrapper").hide();
         $(".photos-wrapper").hide();
         $("#form-container").show();
         $("#panel-body-selected").css("background-color","white");
         $("#panel-body-selected").css("color","black");
      });


  

   });
</script>
