<div class="profile-article_lists-wrapper" id="list_wrapper">

<% if !@posts.blank? %>

    <i>Last posts from <b><%= @user.profile.username %></b>:</i>
    <% @posts.each do |post| %>
        <% if (post.id==params[:post_id].to_i) %>
            <div class="panel-body" id="panel-body-selected" style="color:green;background-color:#E3FFE3;">
        <% else %>
            <div class="panel-body" id="panel-body">
        <% end %>
            
                <i><%= post.created_at %></i>
                <br>
                <b><%= link_to post.titolo,user_profile_path(id: post.user.id,post_id:post.id), data: { no_turbolink: true }%><b>
                <br>
                <i><%= post.description %></i>
                  
        </div>
    <% end %>
    <br>
    <p align ="center">
        <%= link_to "Show More Posts from "+@user.profile.username, posts_path(id: params[:id].to_i)%>
    </p>

<% end %>    

</div>