<% if user_signed_in? %>

   <!-- Dynamic Title (vedi full_title nell'application helper) -->
   <%= provide(:title,User.find_by_id(params[:id]).profile.username)%>

   


   
   <!-- LEFT SIDE-->
   <%= render partial: "users/profileInfo" %>



   <!-- CENTER -->
   <%= render partial: "users/profilePosts" %> 
   


   <!-- RIGH SIDE -->
   <%= render partial: "users/profileArticleLists" %>



<% else %>

   <strong>Must be logged in.</strong>

<% end %>


    





















