<!-- FOOTER -->


    <div style="position : absolute;
	       	color: white;
			font-family:Courier;
    		bottom : 0;
    		left: 0;
    		height : 40px;
            margin-top:20px;
    		
    		width:100%;
    		padding: 10px;
    		border: 0px solid black;
    		">

    		<p align="center">
    	       	Developed by Carmelo Riolo - All Rights Reserved ©<br>
        	</p>

</div>
    


