<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      
      <!-- LEFT MENU -->

      <div class="navbar-brand">
        <%= link_to '<span class="glyphicon glyphicon-home"></span>'.html_safe, homepage_path(), id: "navbar-brand-item_home" %>
        &nbsp
        <%= link_to '<span class="glyphicon glyphicon-envelope"></span>'.html_safe, mailbox_inbox_path(), id: "navbar-brand-item_home" %>
        &nbsp
        <%= link_to '<span class="glyphicon glyphicon-camera"></span>'.html_safe, photos_path(), id: "navbar-brand-item_home" %>
        &nbsp
        <%= link_to '<span class="glyphicon glyphicon-stats"></span>'.html_safe, analytics_path(), id: "navbar-brand-item_home" %>
        


      </div>



      <!--- SEARCH -->

      <% if user_signed_in? %>
        <form class="navbar-form navbar-left" role="search" action="/search" method="GET">
          <div class="form-group">
            <input type="text" class="form-control-xs" id="search-input" placeholder="Search Post By Location.." name="q" required>
            
          <input class="btn btn-sm btn-primary" type="submit" value="Search" style="height: 25px;"></input>
            
          </button>
          </div>
        </form>


      <% end %>
      
      <!-- -->
        

      
    </div>






    <!-- RIGHT MENU -->


      <ul class="nav navbar-nav navbar-right">
      <%if (user_signed_in?) %>

        
        
        <% if !(current_user.profile == nil) %>
          <%= link_to current_user.profile.nome + " " + current_user.profile.cognome, user_profile_path(id:current_user.id), class: "navbar-brand", id: "navbar-user-link"%>
        <% else %>
          <%= link_to current_user.email, str, class: "navbar-brand", id: "navbar-user-link"%>
        <% end %>  
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down white">
          </a>
          <ul class="dropdown-menu" role="menu">
          
            
            <!--  
            <li class="divider"></li>
            -->
                        
            <li>
              <%= link_to "Impostazioni", edit_user_registration_path%>
            </li>
            


              <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete%>
              </li>
          </ul>
        </li>
      
      <% end %>  
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
