<% if !user_signed_in? %>

<body style="
	background: url(<%= image_path("background.jpg") %>) no-repeat    center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	">


	<div style="position: fixed; width:600px;margin-top: 60px; color:white; left:42.5%;">
		<h1><i>Travel Stories...</i></h1>
	</div>

	<div style="position: fixed; width:600px;margin-top: 	100px; color:white; left:37%;">
		<h3><i>Tell your story and find new friends...</i></h3>

	</div>

	<%= render "devise/shared/registrationForm" %>

	<%= render "shared/footer" %>

<% else %>

		<div align="center">
			<%= image_tag 'header-travel.jpg' %>
		</div>

		<!-- TOP POSTS WRAPPER -->
		<div class="top_posts_wrapper">
			<!-- TOP POSTS -->
			<h3>Top Posts...</h3><hr>
			<ul style="list-style: none;">
				<!-- PER ULTERIORI INFO VEDI QUERY NEL CONTROLLER home_controller.rb -->
				<% @RatedPosts.each do |p| %>

					<li>
						<div>
							<%= link_to p.titolo, user_profile_path(id: p.user_id,post_id:p.id), data: { no_turbolink: true } %>
									<br>di
							<%= link_to p.user.profile.username, user_profile_path(id: p.user_id, post_id: last_post_of(p.user_id)), data: { no_turbolink: true } %>
							<br>
							<i>created_at:</i> <%= p.created_at %>
						</div>
					</li>

				<% end %>


			</ul>
		</div>
	    <!-- LAST POSTS WRAPPER -->
		<div class="last_posts_wrapper">

			<!-- LAST POSTS -->
			<h3>Last Posts... </h3><hr>
			<ul style="list-style: none;">

				<% @posts.order("created_at DESC").limit(10).each do |p| %>

					<% if (p.user.profile != nil) %>


						  <li>
							 <div>
									<%= link_to p.titolo, user_profile_path(id: p.user_id,post_id:p.id) %>
									<br>di
									<%= link_to p.user.profile.username, user_profile_path(id: p.user_id, post_id: last_post_of(p.user_id)) %>
									<br>
									<i>created_at:</i> <%= p.created_at %>
                             </div>
						  </li>

					<% end %>
				<% end %>
			</ul>


		</div>


        <!-- USERS WRAPPER WICH INCLUDES TRAVELING COMPANIONS -->
		<div class="home_users_wrapper">

			<!-- UTENTI CON INTERESSI SIMILI -->
			<h3>Traveling companions...</h3><hr>



			<% if(current_user.profile != nil)%>

				<% if !(@n_travels.empty? && @travels.empty?) %>

				   <ul style="list-style: none;">


				   		<% if !@users_wsnt.blank? %>
							<% @users_wsnt.each do |u| %>

								<li>
									<% if !(u.profile == nil) %>
										<div class="user_body_wrapper">
											<% if (u.profile.avatar.exists?) %>
												<%= link_to image_tag(u.profile.avatar.url, size: "60x60", class: "img-circle").html_safe , user_profile_path(id: u.id,post_id: last_post_of(u.id)) %>
											<% else %>
												<%= link_to image_tag(image_path("avatar_notfound_light.png"), size: "60x60", class: "img-circle").html_safe , user_profile_path(id: u.id,post_id: last_post_of(u.id)) %>


											<% end %>
											<p>

												<%= link_to u.profile.username + " (" + u.profile.nome + " " + u.profile.cognome + ")", user_profile_path(id: u.id,post_id: last_post_of(u.id))%>
												<br>


												<% get_same_NextTravelLocation_of(u.id).each do |loc| %>
											Vorrebbe andare a  <i><%= loc.location+" " %></i> come te

												<% end %>
											</p>

										</div>

									<% end %>

								</li>

							<% end %>

						<% else %>

							<i>Non è stato trovato alcun utente con interessi simili..</i>

						<% end %>

					</ul>

				<% else %>

					<p><%= link_to "Aggiorna Informazioni sui tuoi Viaggi" , maps_path(id: current_user.id) %></p>


				<% end %>

			<% else %>

				<p><%= link_to "Aggiorna Informazioni Profilo" , :controller => :profiles, :action => :new %></p>

			<% end %>

		</div>








<% end %>
