<body style="
    background: url(<%= image_path("background.jpg") %>) no-repeat    center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 

    "
>

	<%= render "devise/shared/registrationForm" %>

</body>	