<%= form_for(@photo) do |f| %>
  
  <% if notice %>

    
  
  <% elsif alert %>

    

  <% end %>

    <div class="field">
      <%= f.file_field :image , class: "form-control"%>
    </div>

    <div class="field">
      <%= f.text_area :description , class: "form-control",placeholder:"Description"%>
    </div>

    <div class="field">
      <%= f.text_area :location , class: "form-control",placeholder:"Dove è stata scattata questa foto?"%>
    </div>


    <div class="actions">
      <%= f.submit "Upload",class: "btn btn-primary" %>
    </div>

  

<% end %>
