<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<% if params[:pid].present? %>


    <div>

        <h2><i>Foto di </i><%= @photo.user.profile.username %> from <%= @photo.location %></h2>
        

    </div>


    <hr>

    <div class="photoWrapper">

        <%= image_tag(@photo.image.url, size: "800x600", class: "img-rounded", style: "object-fit: fill;") %>
    </div>


    



<% elsif params[:id].present?%>

<!-- LE FOTO DI UTENTE -->




<div align="center" style="margin: auto;">
  Le foto di 
  <b>
    <%= @user.profile.nome + " " + @user.profile.cognome %>
  </b>   
  (
  <%= link_to @user.profile.username,user_profile_path(id: @user.id,post_id: last_post_of(@user.id))%>
  )  
   
</div>


<div>
    <% if current_user.id == params[:id].to_i %>

        <%= render partial: "photos/form"%>

    <% end %>    
</div>



<% if !@photos.blank? %>  
    <% if current_user.id==params[:id].to_i %>
        <!-- In tal caso è necessario lasciare lo spazio per il form per l'upload -->
        <div class="photoWrapper" style="top:530px;">
    <% else %>
        <div class="photoWrapper">
    <% end %>    

        <table>
            <% @photos.each_with_index do |p,index|%>
            <% if index== 0 %>
                <tr>
            <% elsif (index%4)==0 %>
                </tr><tr>

            <% end %>    
                <td>
                    <%= image_tag(p.image.url, size: "160x100", class: "img-thumbnail", style: "height: 300px;width: 300px;object-fit: fill;") %>
                </td>

        
           

            <% end %>
        </table>
    
        <%= will_paginate @photos %>
    
    </div>

<% else %>
    
    <p align="center" style="color: red;">
        <i><%= @user.profile.nome %> non ha inserito alcuna foto.</i>
    </p>

<% end %>


<% else %>

<!-- PICTURES FROM THE WORLD -->

<div ng-app="myApplication" ng-controller="myController" class="photoWrapper">

	
	<input type="text" ng-model="text" ng-change="event()" class="form-control" placeholder="Filtra per località.." style="width: 640px;"></input>
    <table id="myTable"></table>

</div>



<% end %>

<script>



var app = angular.module('myApplication', []);
app.controller('myController', function($scope, $http,$window) {



	function Draw(){



    	$http.get("/photos/show.json?location="+$scope.text).success(function(data) {
    	

    		$scope.photos = data;
			table = document.getElementById("myTable");
			table.innerHTML="";
    		
    		var row = [];
    		var photo_counter = 0;

    	
    		for(var i=0;i<$scope.photos.length;i++){
				row[i] = table.insertRow(i);
				row[i].setAttribute('height','200px');
				var cell = [];
			
				for(var j=0;j<4;j++){
					cell[j]=row[i].insertCell(j);
					cell[j].setAttribute('width','200px');
					cell[j].setAttribute('height','160px');
					cell[j].innerHTML = '<a href="/photos?pid='+$scope.photos[photo_counter].id+'"> <img src='+$scope.photos[photo_counter].url+' class="img-thumbnail" style=" height: 300px;width: 300px;object-fit: fill;"></a>';
    		
    				photo_counter++;
    			}
    		
    		}
    	
    	});

    
    }		

    $scope.text="";
    Draw();	

    $scope.event = Draw;

    			




    
});

</script>