<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titolo %><br>
    <%= f.text_field :titolo ,class: "form-control",placeHolder: "Titolo.."%>
  </div>
  <div class="field">
    <%= f.label :descrizione %><br>
    <%= f.text_area :description , class: "form-control",placeHolder: "Descrizione.." %>
  </div>
    <div class="field">
    <%= f.label :Località %><br>
    <%= f.text_field :location ,class: "form-control",placeHolder: "Dove?"%>
  </div>
  <div class="field">
    
    <%= f.text_area :body , class: "form-control",placeHolder: "Text goes here.." %>
  </div>


  <div class="actions">
    <%= f.submit "Create Post",class: "btn btn-primary" %>
  </div>

   

<% end %>
