<div class="bs-example">
    <table class="table table-default">
		<tbody>
			<% @posts.each do |post| %>
			<tr>
				<td>
					<%= link_to post.titolo, :controller => :users,:action => :user_profile, :id => post.user_id, :post_id => post.id %>
				</td>
				<td>
					<%= post.description %>
				</td>
				<td>

					<% if !(post.user.profile == nil) %>

						<%= link_to post.user.profile.username, :controller => :users,:action => :user_profile, :id => post.user_id , :post_id => last_post_of(post.user_id)%>


					<% else %>

						<%= link_to post.user.email, :controller => :users,:action => :user_profile, :id => post.user_id %>

					<% end %>

				</td>
			</tr>
		</tbody>
		<% end %>

	</table>
</div>
