<% if params[:id].present? %>

  <p id="notice"><%= notice %></p>

  <h1>Posts from <%= link_to @user.profile.username,user_profile_path(id: params[:id],post_id: last_post_of(@user.id))%></h1>

  <hr>

  <ul style="list-style-type:none">
    <% @posts.each do |p| %>

      <li>

        <b><%= link_to p.titolo,user_profile_path(id: p.user_id,post_id: p.id) %></b>

        <br>

        <i>
          <%= p.description %>
        </i>

        <br>

        <i>
          A story of <%= p.location %>
        </i>

      </li>

      <hr>


    <% end %>
  </ul>




  <br>

  <%= will_paginate @posts %>


<% end %>
