<div class="page-wrapper">
	<% if user_signed_in? %>


	<div class="form-container">
		<%= render 'form' %>
	</div>	

	
	<% else %>

	<p class="alert alert-danger">Must be logged in.</p>


	<% end %>
</div>
