/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

body{
  font-family: Myriad Pro;
  



}

.body_sfondo{
  background-color: black;
}

.navbar{
  border: 0px solid red;
  border-radius:0px;
  /*background-color:#599CFF;*/
  background-color:#303030;
  
  a{
    color: white;
  }
}



#navbar-brand-item_home{
  text-decoration: none;
}

#navbar-brand-item_home:hover{
  color:orange;
}

.form-group{
  position: absolute;
  left: 50%;
  margin-left:-275px;

  border: 0px solid red;
  
}

#search-input{
  margin-top:5px;
  margin-bottom: 5px;
  width: 400px;
  border:0px;
  border-radius:3px;
  background-color:white;
  color:black;
}

.alert{

  margin-top: 30px;

}


#navbar-user-link{
  color:white;
  position: fixed;
  font-size:14px;
  position: absolute;
  border: 0px solid white;
  right:40px;
}


#navbar-user-link:hover{
  color:orange;
}

.dropdown-toggle:hover{
  color:orange;
}

.white, .white a {
  color: #fff;
}

a:hover{
  background-color:transparent;
}

.container{
  
  border: 0px solid black;
  
  
  
  
  
  
  
}

.page-wrapper{
  width: 98%;
  
  padding-left:10px;
  border: 1px solid red;
  border-radius: 0px;
  /*background: rgba(248, 248, 255, 1);*/
  
  padding: 30px;

}



.form-container{
  background: rgba(0, 0, 0, 0.5);
	position:absolute;
  border: 1px solid;
  border-color: rgba(255,255,255,0.5);
  box-shadow: 1px 1px 2px #888888;
  padding: 30px;  width: 600px;
  border-radius: 10px;	
  left:30%;
  color: white;
  margin-top: 150px;
  
}

.form-devise-wrapper{
  border:0px solid black;
  margin-left: 75px;
}


#user_email{
	width: 400px;
}


#user_password{
	width: 400px;
}


#user_password_confirmation{
	width: 400px;
}

.photos-wrapper {
  width: 600px;
  overflow: auto;

}

.img-thumbnail{
  max-width: 160px;
  max-height: 160px;
}


