// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.top_posts_wrapper{
	position: absolute;
	margin-left: 5px;
	
	width: 350px;

	border: 0px solid black;
	padding: 5px;
	overflow: auto;

	a, a:visited{
		color: white;
	}

	a:hover{
		color: orange;
		text-decoration: none;
	}

	div{
		color: white;
		background-color: #599CFF;
		border-radius: 5px;
		padding: 5px;
		margin-right: 15px;
		margin-bottom: 5px;
	}

	div:hover{

		background-color: #3E6DFF;
	}


}





.last_posts_wrapper{
	position: absolute;
	margin-left: 350px;
	
	width: 350px;

	border: 0px solid black;
	padding: 5px;
	overflow: auto;

	a, a:visited{
		color: white;
	}

	a:hover{
		color: orange;
		text-decoration: none;
	}

	div{
		color: white;
		background-color: #599CFF;
		border-radius: 5px;
		padding: 5px;
		margin-right: 15px;
		margin-bottom: 5px;
	}

	div:hover{

		background-color: #3E6DFF;
	}


}

.home_users_wrapper{
	position: absolute;
	margin-left: 700px;
	
	width: 350px;
	border: 0px solid blue;
	padding: 5px;
	overflow: auto;
}

.user_body_wrapper{
	
	height: 100px;
	
	margin-top:5px;
	margin-bottom: 5px;
	
	border: 0px solid black;
	margin-left: -30px;

	p{
		position: absolute;
		margin-left: 65px;
		margin-top: -60px;
	}



}










