// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-control{
	width: 100px;
}


#post_body{
	height: 300px;
}