// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-info-wrapper{
  
  position: absolute;
  border:0px solid black;
  border-right: 0px solid white;
  border-radius:0px;
  width: 200px;
  padding: 10px;
  padding-top: 25px;
  height: 90%;
  overflow: none;

}

.motto-wrapper{
  border:0px solid black;
  color: green;
  margin-left: 350px;
  font-family: Verdana;
  width: 400px;

}

.profile-posts-wrapper{
  position: absolute;
  
  border:0px solid white;
  border-radius:14px;
  margin-left:250px;
  width: 600px;
  
  
  padding: 10px;
  



}


.profile-article_lists-wrapper{
  overflow: scroll;
  margin-left: 900px;
  width: 200px;
  height: 80%;
  overflow: auto;
  border: 0px solid black;

  
}

.profile-body-wrapper{
  border: 0px solid red;
  margin-top: 5px;
  margin-right: 20px;
  width: 99%;
  padding: 30px;

}



.panel-body{
  border-radius: 4px;
  a{
    color:green;
  }
}






.panel-body:hover{
  background-color: rgba(214, 214, 214, 0.8);
  
  color:white;
  
  a:hover{
    text-decoration: none;
  }

}







.form-container-profile{

}













