<%= form_for(@next_travel) do |f| %>
  <% if @next_travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@next_travel.errors.count, "error") %> prohibited this next_travel from being saved:</h2>

      <ul>
      <% @next_travel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="position:relative;padding:10px;top:-150px;left:120px;">
    
    <%= f.text_field :location , class: "form-control",style: "width: 500px;",placeHolder:"Dove vorresti andare?"%>
  </div>



  <div class="field" style="position: relative;top:-214px;left:640px;padding:10px;">
    
    <%= f.select(:date, options_for_select(@datesForNextTravels), {}, { :class => 'form-control' , :style => 'width: 200px;'}) %>
  


  </div>

  <div class="field" style="position: relative;top:-278px;left:870px;padding:10px;">
    <%= f.submit "Submit",class: "btn btn-primary" %>
  </div>

<% end %>
