<p id="notice"><%= notice %></p>

<h1>Listing Next Travels</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @next_travels.each do |next_travel| %>
      <tr>
        <td><%= next_travel.location %></td>
        <td><%= next_travel.date %></td>
        <td><%= next_travel.user_id %></td>
        <td><%= link_to 'Show', next_travel %></td>
        <td><%= link_to 'Edit', edit_next_travel_path(next_travel) %></td>
        <td><%= link_to 'Destroy', next_travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Next travel', new_next_travel_path %>
