<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @next_travel.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @next_travel.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @next_travel.user_id %>
</p>

<%= link_to 'Edit', edit_next_travel_path(@next_travel) %> |
<%= link_to 'Back', next_travels_path %>
