<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>








</head>


	<% if user_signed_in? %>

		<body>

			<% if current_user.profile.blank? %>

			<div style="width:600px;margin:0 auto;">

				<p align="center">
					<h3>Aggiorna informazioni profilo per continuare</h3>
				</p>
				<%= render partial: "profiles/form"%>
				<%= link_to "Logout", destroy_user_session_path, method: :delete%>
			</div>

			<% else %>

				<%= render partial: "shared/navbar"%>
				 <div class="container">

				 	<% if notice %>
      					<p class="alert alert-success"><%= notice %></p>
					<% end %>

					<% if alert %>
    					<p class="alert alert-danger"><%= alert %></p>
					<% end %>


					<%= yield %>

				</div>


			<% end %>



	<% else %>

		<%= yield %>




	<% end %>








	</body>

</html>
